// main section - headers
main h2 {
  font-size: $font-md;
  font-family: $font-primary;
  margin-bottom: $margin-b;
  text-align: center;
  color: $text-secondary;
}
//not really sure if this goes here
