//font families
$font-primary: Georgia, "Times New Roman", Times, serif;
$font-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//font sizes:
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;
$bold: 500;
