@media (width < 800px) {
  .destinations {
    &__card-container {
      flex-wrap: wrap;
    }
  }
  .statistics {
    width: 100vw;
    &__container {
      flex-wrap: wrap;
    }
  }
  .recent-blog {
    &__image {
      height: 300px;
      width: 350px;
      object-fit: cover;
    }
  }
}
